[Unit]
Description=Nightingale mail sender
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=root

Type=simple
ExecStart=/root/gopath/src/github.com/didi/mail-sender/mail-sender
WorkingDirectory=/root/gopath/src/github.com/didi/mail-sender

Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
